# Capacita' della coda eventi
simulator.queue.capacity=1000
simulator.max.events=10000
# Intervallo base di generazione eventi (ms)
simulator.event.interval=1000
# Probabilita' di eventi sospetti (0.0 - 1.0)
simulator.suspicious.probability=0.3
# Numero di thread generati
simulator.sources=2
# Id simualtor
simulator.source.id=simulator
#Porta TCP
simulator.port=9876